<h2>Publishers</h2>

<table class="table table-striped">
  <tr>
    <th>Publisher Name</th>
    <th>Actions</th>
  </tr>
  <% @publishers.each do |pub| %>
    <tr>
      <td><%= pub.name %></td>
      <td><%= link_to 'Edit', edit_publisher_path(pub.id) %> | <%= link_to 'Delete', publisher_path(pub), method: :delete, data: { confirm: "Are you sure?" } %>
    </tr>
  <% end %>
</table>