<div id="books-show">
  <h2>Ruby On Rails Power</h2>
  <div class="books-show-left">
    <%= image_tag('covers/ruby_on_rails_power.jpg') %>
  </div>
  <div class="books-show-right">
    <h3>Book info:</h3>
    <ul>
      <li><strong>Category:</strong> Ruby On Rails Power</li>
      <li><strong>Author:</strong> Aneesha Bakharia</li>
      <li><strong>Publisher:</strong> Course Technology PTR</li>
      <li><strong>Year:</strong> 2007</li>
      <li><strong>ISBN:</strong> 1598632167</li>
      <li><strong>Format:</strong> Paperback</li>
      <li><strong>Pages:</strong> 678</li>
    </ul>

    <%= link_to "Buy for £3.25", 'http://www.ebay.co.uk/itm/Ruby-on-Rails-Power-The-Comprehensive-Guide-Power-/272097198212', class:'btn btn-success', target:'_blank' %>
  </div>
  <div class="clearfix"></div>
  <h4>Excerpt</h4>
  <p>User centered design prototype thinker-maker-doer long shadow grok sticky note disrupt physical computing latte disrupt earned media disrupt. Grok workflow big data driven pair programming workflow human-centered design 360 campaign long shadow intuitive venture capital food-truck. Prototype responsive driven Steve Jobs latte long shadow thinker-maker-doer SpaceTeam thinker-maker-doer parallax Steve Jobs ideate affordances. User centered design iterate food-truck fund venture capital convergence disrupt parallax physical computing pair programming Steve Jobs pivot.</p>
<p>Latte fund experiential SpaceTeam user story hacker co-working Steve Jobs integrate entrepreneur. Prototype workflow paradigm experiential parallax integrate minimum viable product minimum viable product prototype innovate experiential. Physical computing quantitative vs. qualitative 360 campaign pair programming big data engaging ship it workflow quantitative vs. qualitative personas pair programming sticky note. Sticky note pivot thought leader innovate human-centered design 360 campaign personas responsive cortado convergence minimum viable product cortado.</p>
</div>