<h2>Categories</h2>

<table class="table table-striped">
  <tr>
    <th>Category Name</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |cat| %>
    <tr>
      <td><%= cat.name %></td>
      <td><%= link_to 'Edit', edit_category_path(cat.id) %> | <%= link_to 'Delete', category_path(cat), method: :delete, data: { confirm: "Are you sure?" } %>
    </tr>
  <% end %>
</table>